<!-- <p>company works!</p> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4>Sales Employee details</h4>
                </div>
                <div class="panel-footer">
                    <a routerLink="sales">Get-Details</a>
                </div>
            </div>
            
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                <app-sales></app-sales>
                </div>
            </div>
           
        </div>
    </div>
</div>
